<div class = "form-container">
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="query"
      autocomplete="off"
      placeholder="Search images..."
      class="inputEl input__search-form"
    />
  </form>
  <button type="button" class="buttonEl">Find</button>
</div>